body{
    margin:auto;
    width: 100%;
    max-width: 1000px;
    padding:0;
    text-align:center;
    font-size: 32px;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
main{
    border-bottom:1px solid #ccc;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
/* li{
    text-align: center;
    list-style:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  
    cursor: pointer;
} */
li:hover{
    background: #0066CC;
    color:#fff;
}
h1{
 text-align: center;
}

.icon_smile img{
 width: 50%;
}